.img {
    max-width: 100%;
    width: 33%;
    height: auto;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  body {
    padding-top: 70px;
    background-color: #fff1b2;
  }
  .jumbotron {
    background-color: #fff1b2;
    padding: 100px 0;
  }
  