.img {
    width: 33%;
  }
  
  /* web color */
  body {
    padding-top: 70px;
    background-color: #fff1b2;
  }
  .jumbotron {
    background-color: #fff1b2;
    padding: 250px;
    height: calc(100vh - 56px);
  }
  
  /* Typing effect */
  .text {
    font-size: 4em;
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s, cursor 0.5s step-end infinite alternate;
  }
  
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  